/*

ROOT

*/

:root{
    --first-color: #141922;
    --second-color: #080B12;
    --third-color: #141922;
    --fourth-color:#282828;
}

/*

MAIN

*/

main{
    width: 100vw;
    height: 100vh;
}

/*

DEBUG

*/


/*

MEDIA QUERY

*/

/*

TABLET

*/

/*

BIG MOBILE

*/

/*

SMALL MOBILE

*/