/*

ROOT

*/

:root{
    --first-color: #000000;
    --second-color: #080B12;
    --third-color: #141922;
    --fourth-color:#282828;
    --fifth-color:#D2D2D2;
}

/*

MAIN

*/

main{
    width: 100%;
    height: 100%;
}

.flex-main{
    width: 100%;
}
.sidebar{
    color: #D2D2D2;
    background-color: var(--first-color);
}

.flex-sidebar{
   flex-wrap: wrap;
   justify-content: space-between;
   width: 150px;
   
}

.main-window{
    width: calc(100% - 150px);
    overflow-y: auto; 
    background-color: var(--third-color);
}



.sidebar-header{
    padding-top: 50px;
    width: 100%;
}

.logo{
    transform: translate(0, -50%);
    position: relative;
    top: 0;
    left: 0;
}

.sidebar-playlist{
    margin-top: 2rem;
}

.sidebar-footer{
    align-self: flex-end;
    margin-top: 200px;
}

.upgrade{
    text-align: end;
    padding-top: 50px;
    padding-right: 2rem;
    position: sticky;
    top: 0;
    background-color: var(--second-color);
}

.upgrade>a>button{
    transform: translate(0, -50%);
    background-color: transparent;
    border-radius: 15% / 50%;
    font-size: 1rem;
    padding: 1rem;    
    color: white;
    border-color: white;
}

.flex-1{
    width: calc(100%-150px);
    justify-content: center;
}

.flex-1 li{
    display: inline-block;
    color: #63666B;
    padding-top: 1.5rem;
}

.flex-2{
    width: calc(100%-150px);
    margin-bottom: 2rem;
}

.card{
    color: white;
    text-align: center;
}

.flex-2 .card{
    width: calc(100% / 7);
}

.img-container{
    position: relative;
    margin-bottom: 1rem;
}

.card h3{
    margin-bottom: 1rem;
}

.card img{
    width: 100%;
   
}

.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
/*

FOOTER

*/
footer{
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: var(--fourth-color);
}

.flex-footer{
    justify-content: space-between;
}

.footer-left,
.footer-right{
    width: 25%;
}
.footer-left{
    align-items: center;
    justify-content: space-around;
    padding-right: 8%;
}

.footer-right{
    align-items: center;
}

.footer-center{
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.column-30{
    width: 30%;
}

.column-70{
    width: 70%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    align-self: flex-start;
    text-align: center;
}

.column-70 h4{
    padding-top: 0.8rem;
    margin-bottom: 1.2rem;
    color: white;
}

.column-10{
    width: 10%;
}

.column-60{
    width: 60%;

}

.column-40{
    width: 40%;
}

/*

DEBUG

*/
.debug .flex-main{
    width: 100%;
}


.debug .flex-footer{
    height: 100px;
    width: 100vw;
}

.debug .sidebar-header,
.debug .upgrade{
    height: 100px;
}

.debug .main-content{
    height: calc(100vh - 100px - 100px);
}

/*

MEDIA QUERY

*/

/*

TABLET

*/

@media screen and (max-width : 1100) {
    /* main */
    .flex-2{flex-wrap: wrap;}
}
/*

BIG MOBILE

*/

/*

SMALL MOBILE

*/